
/* Customized "Start Quiz" button  */
.btn-primary {


    color: #FFFFFF;
  
  
    background-color: #813ebb
  
  
    }

    /* Customized "Question title" button  */

    #questionTitle {
        font-size: 20px;
        font-family: ui-sans-serif;
    }

    /* Customized "Answers" buttons  */

    .btn-secondary {


        color: #FFFFFF;
      
      
        background-color: #813ebb
      
      
        }

    .btn-info {


        color: #FFFFFF;
      
      
        background-color: #813ebb
      
      
        }

    